<!DOCTYPE html>
<html>
<head>
  <title>Mailcar</title>
  <%= stylesheet_link_tag    "mailcar/application", :media => "all" %>
  <%= javascript_include_tag "mailcar/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
